<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Object Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="top">
        <h1 class="title">Pose Detection</h1>
        <div class="text">
            This model detects different poses to identify potential threats.
                It can recognize if someone is armed, lockpicking a property, or
                in a neutral position
            </div>
    <div class="tabs-container">
        <a href="{{ url_for('index') }}">
            <button class="tab-button ">Media Upload</button>
        </a>
        <a href="{{ url_for('webcam') }}">
            <button class="tab-button active">Web Cam</button>
        </a>
    </div></div>

    <div class="container">
        <div class="upload-section">
        <!-- Webcam feed -->
        <div class="webcam-feed">
            <img id="video-stream" src="{{ url_for('video_feed') }}" alt="Webcam feed" style="width: 100%; height: auto;">
        </div>
        <button class="cam-button" id="start-stop-button" aria-label="Start Webcam" onclick="toggleWebcam()">
            <i class="fa-solid fa-video fa-2xl"></i> Start Webcam
        </button>
    </div>
</div>

    <script>
        let webcamStarted = false;
        const startButton = document.getElementById('start-stop-button');

        

        // Toggle webcam feed on button click
        async function toggleWebcam() {
            if (webcamStarted) {
                // Stop webcam feed
                stopWebcam();
            } else {
                // Start webcam feed
                await startWebcam();
            }
        }

        // Start webcam and detection
        async function startWebcam() {
            // Update button text
            startButton.textContent = 'Stop Webcam';
            webcamStarted = true;
        }

        // Stop the webcam
        function stopWebcam() {
            // Stop webcam feed logic (if needed)
            startButton.textContent = 'Start Webcam';
            webcamStarted = false;
        }
    </script>
</body>
</html>
