<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pose Detection - Web Cam</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="tabs-container">
        <a href="{{ url_for('index') }}">
            <button class="tab-button">Media Upload</button>
        </a>
        <a href="{{ url_for('webcam') }}">
            <button class="tab-button active">Web Cam</button>
        </a>
    </div>
    <div class="container">
        <div class="webcam">
            <h2>Webcam Access</h2>
            <p>Allow the website to access your camera to enable webcam functionality.</p>
            <div class="webcam-box">
                <video id="webcam-video" autoplay muted></video>
                <canvas id="bounding-box-canvas"></canvas>
                <button class="cam-button" aria-label="Start Webcam">
                    <i class="fa-solid fa-video fa-2xl"></i> Start Webcam
                </button>
            </div>
        </div>
    </div>
</body>
</html>
